body {
    margin: 0;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: lightgray;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    background-color: blue;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: gray;
    color: white;
}
.lbtn {
    width: 100%;
    background: none;
    border: 2px solid blue;
    color: blue;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.lbtn:hover:not(.active) {
    background-color: gray;
    color: white;
}